.card
{
    border: 2px solid #0097A7;
    border-radius: 15px;
    padding: 10px 20px;
    width: 20%;
}

.card h4
{
    display: inline;
    color: #00636e;
    margin-right: 12px;
}

.card p
{
    display: inline;
    margin: 0px 10px;
}

.card button
{
    border: 2px solid #00636e;
    background-color: transparent;
    border-radius: 7px;
    color: #00636e;
    font-size: 1.1em;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.card button:hover
{
    border: 2px solid #03c3d8;
}


